<h1>New Instructor Form</h1>
<%= link_to 'Go Back', instructors_path %>
<%= form_for(@instructor) do |f| %>
<%= render partial: 'form', locals: {f: f} %>
<p><%= f.submit 'Add Instructor' %></p>
<% end %>
