<div class="row">
  <div class="col-4">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title"><%= @course.name %> </h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Total Hours: <%= @course.total_hours %></li>
      </ul>
      <div class="card-body">
        <%= link_to 'Edit', edit_course_path, class: "card-link" %>
        <%= link_to 'Remove Course', @course, class: "card-link", method: :delete, remote: true, data: {confirm: "Click OK to remove #{@course.name}"} %>
      </div>
    </div>
  </div>
</div>
