/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
  font-family: 'Share Tech Mono', monospace;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0,1);
  background-image: url(retro.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  color: #FFF;
 }

form{
  font-size: 1.125em;
  margin-top: 10%;
  opacity: 0;
}

 nav a{
   color: #FFF;
   text-decoration: none;
   transition: .8s ease;
 }

.nav{
  margin-bottom: 50px;
  border-bottom: 5px solid rgba(111,195,223, .9);
}
.nav-link{
  font-size: 1.25em;
  background-color: rgba(0,0,0,0);
}
.nav-link:hover{
  background-color: rgba(111,195,223, .9);
  text-shadow: 0px 0px 10px #000;
  color: #FFF;
  text-decoration: none;
}

input, select{
  border: 2px solid rgb(255,255,255);
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgb(24,202,230);
  background-color: rgba(0,0,0,0);
  color: #FFF;
}

.button input{
  animation: tron 4s ease infinite;
}

#login{
  margin-top: 100px;
  padding: 15px;
  height: auto;
  width: 25%;
  background-color: rgba(0,0,0,.8);
  color: #FFF;
  text-shadow: 0px 0px 10px rgb(111,195,223);
  border: 3px solid rgba(24,202,230,1);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(111,195,223);

}
#login input{
  border: 2px solid rgba(24,202,230);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(111,195,223);
  background-color: rgba(0,0,0,0);
  color: #FFF;
}
#login form{
  opacity: 1;
}

h1, h2{
  opacity: 0;
}
.table{
  color: #FFF;
  margin-top: 25px;
  border: 3px solid rgba(24,202,230,.8);
  box-shadow: 0px 0px 5px #FFF;
  background-color: rgba(12,20,31, .8);
  opacity: 0;
}

tr{
  transition: background .5s;
}
tr:hover{
  background-color: rgba(111,195,223, .7);
}

.table a, .card a{
  padding: 2px 5px;
  color: #FFF;
  border-radius: 3px;
  text-decoration: none;
  animation: clu 4s ease infinite;
}

@keyframes clu{
  0%{text-shadow: 0px 0px 10px rgba(223,116,12,0)}
  50%{text-shadow: 0px 0px 10px rgba(223,116,12,1)}
  100%{text-shadow: 0px 0px 10px rgba(223,116,12,0)}
}

@keyframes tron{
  0%{background-color: rgba(111,195,223,0);}
  50%{background-color: rgba(24,202,230,.8);}
  100%{background-color: rgba(111,195,223,0);}
}

.card{
  margin-top: 50px;
  padding: 10px;
  width: auto;
  height: auto;
  background-color: rgba(0,0,0,.5);
  color: #FFF;
  text-shadow: 0px 0px 10px rgb(24,202,230);
  border: 3px solid rgba(24,202,230,.8);
  border-radius: 5px;
  box-shadow: 0px 0px 10px #FFF;
  font-size: 1.25em;
  z-index: 5;
  opacity: 0;
}
.card  a{
  text-shadow: 0px 0px 10px rgba(223,116,12,1);
}
