/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
   background-color: RGBA(255, 250, 255, .7);
 }
 #student-table{
   margin: -5%;
 }
 #instructor-table{
   margin-left: -10.5%;
 }

.nav{
  background-color: #567EBB;
}
.nav-link{
  color: #eee;
}
.nav-link:hover{
  color: #567EBB;;
}
.nav-item:hover{
  background-color: #eee;
}

#login-button {
  position: absolute;
  top: 45%;
  left: 35%;
  width: 25%;
  height: auto;
  font-size: 3em;
}
#login-form{
  position: relative;
  top: 25%;
}
