/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
  font-family: 'Share Tech Mono', monospace;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0,1);
  background-image: url(retro.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  color: #FFF;
 }

 nav a{
   color: #FFF;
   text-decoration: none;
 }
 nav a:hover{
   text-shadow: 0px 0px 10px #000;
   color: #FFF;
   text-decoration: none;
 }

.nav{
  background-color: rgba(24,202,230,.8);
  margin-bottom: 50px;
}
.nav-link{
  color: #FFF;
  font-size: 1.25em;
}
.nav-link:hover{
  text-shadow: 0px 0px 10px #050D10;
  color: #FFF;
}


#login-button {
  position: absolute;
  top: 45%;
  left: 35%;
  width: 25%;
  height: auto;
  font-size: 3em;
}
#login-form{
  margin-top: 50px;
  padding: 15px;
  height: auto;
  width: 25%;
  background-color: rgba(0,0,0,.8);
  color: #FFF;
  text-shadow: 0px 0px 10px rgb(111,195,223);
  border: 3px solid rgba(24,202,230,1);
  border-radius: 5px;
  box-shadow: 0px 0px 5px #FFF;
}
#login-form input{
  border: 3px solid rgba(24,202,230,.8);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(111,195,223);
  background-color: rgba(0,0,0,0);
  color: #FFF;
}

.table{
  border: 3px solid rgba(24,202,230,.8);
  box-shadow: 0px 0px 5px #FFF;
  background-color: rgba(12,20,31,.8);
}
.table a{
  color: rgb(255,255,255);
  text-shadow: 0px 0px 5px rgb(223,116,12);
  text-decoration: none;
}
tr:hover{
  background-color: rgba(111,195,223, .7);
}

.card{
  margin-top: 50px;
  padding: 10px;
  width: auto;
  height: auto;
  background-color: rgba(0,0,0,.8);
  color: #FFF;
  text-shadow: 0px 0px 5px rgb(24,202,230);
  border: 3px solid rgba(24,202,230,.8);
  border-radius: 5px;
  box-shadow: 0px 0px 10px #FFF;
  font-size: 1.25em;
  z-index: 5;
  opacity: 1;
}
.card a{
  color: rgb(255,255,255);
  text-shadow: 0px 0px 5px rgb(223,116,12);
}
